<mtapp:setting
	id="toolbar_button_all_hide"
	label="<__trans phrase="hide all toolbar button">">
<ul>
	<li><input type="checkbox" value="1" name="opt_default_toolbar_hide" id="opt_default_toolbar_hide" <TMPL_IF NAME=OPT_DEFAULT_TOOLBAR_HIDE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="default toolbar hide"></li>
</ul>
</mtapp:setting>

<mtapp:setting
	id="default_toolbar_button_hide_list"
	label="<__trans phrase="Please select a button to hide.">">
<ul>
	<li><input type="checkbox" value="1" name="opt_font_size_smaller" id="opt_font_size_smaller" <TMPL_IF NAME=OPT_FONT_SIZE_SMALLER>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="font size smaller"></li>

	<li><input type="checkbox" value="1" name="opt_font_size_larger" id="opt_font_size_larger" <TMPL_IF NAME=OPT_FONT_SIZE_LARGER>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="font size larger"></li>

	<li><input type="checkbox" value="1" name="opt_bold" id="opt_bold" <TMPL_IF NAME=OPT_BOLD>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="bold"></li>

	<li><input type="checkbox" value="1" name="opt_italic" id="opt_italic" <TMPL_IF NAME=OPT_ITALIC>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="italic"></li>

	<li><input type="checkbox" value="1" name="opt_underline" id="opt_underline" <TMPL_IF NAME=OPT_UNDERLINE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="underline"></li>

	<li><input type="checkbox" value="1" name="opt_strikethrough" id="opt_strikethrough" <TMPL_IF NAME=OPT_STRIKETHROUGH>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="strikethrough"></li>

	<li><input type="checkbox" value="1" name="opt_color" id="opt_color" <TMPL_IF NAME=OPT_COLOR>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="color"></li>

	<li><input type="checkbox" value="1" name="opt_insert_link" id="opt_insert_link" <TMPL_IF NAME=OPT_INSERT_LINK>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert link"></li>

	<li><input type="checkbox" value="1" name="opt_insert_email" id="opt_insert_email" <TMPL_IF NAME=OPT_INSERT_EMAIL>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert email"></li>

	<li><input type="checkbox" value="1" name="opt_indent" id="opt_indent" <TMPL_IF NAME=OPT_INDENT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="indent"></li>

	<li><input type="checkbox" value="1" name="opt_outdent" id="opt_outdent" <TMPL_IF NAME=OPT_OUTDENT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="outdent"></li>

	<li><input type="checkbox" value="1" name="opt_insert_unordered_list" id="opt_insert_unordered_list" <TMPL_IF NAME=OPT_INSERT_UNORDERED_LIST>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert unordered list"></li>

	<li><input type="checkbox" value="1" name="opt_insert_ordered_list" id="opt_insert_ordered_list" <TMPL_IF NAME=OPT_INSERT_ORDERED_LIST>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert ordered list"></li>

	<li><input type="checkbox" value="1" name="opt_enclosure_align_left" id="opt_enclosure_align_left" <TMPL_IF NAME=OPT_ENCLOSURE_ALIGN_LEFT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="enclosure align left"></li>

	<li><input type="checkbox" value="1" name="opt_enclosure_align_center" id="opt_enclosure_align_center" <TMPL_IF NAME=OPT_ENCLOSURE_ALIGN_CENTER>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="enclosure align center"></li>

	<li><input type="checkbox" value="1" name="opt_enclosure_align_right" id="opt_enclosure_align_right" <TMPL_IF NAME=OPT_ENCLOSURE_ALIGN_RIGHT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="enclosure align right"></li>

	<li><input type="checkbox" value="1" name="opt_justify_left" id="opt_justify_left" <TMPL_IF NAME=OPT_JUSTIFY_LEFT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="justify left"></li>

	<li><input type="checkbox" value="1" name="opt_justify_center" id="opt_justify_center" <TMPL_IF NAME=OPT_JUSTIFY_CENTER>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="justify center"></li>

	<li><input type="checkbox" value="1" name="opt_justify_right" id="opt_justify_right" <TMPL_IF NAME=OPT_JUSTIFY_RIGHT>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="justify right"></li>

	<li><input type="checkbox" value="1" name="opt_spell_check" id="opt_spell_check" <TMPL_IF NAME=OPT_SPELL_CHECK>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="spell check"></li>

	<li><input type="checkbox" value="1" name="opt_insert_image" id="opt_insert_image" <TMPL_IF NAME=OPT_INSERT_IMAGE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert image"></li>

	<li><input type="checkbox" value="1" name="opt_insert_file" id="opt_insert_file" <TMPL_IF NAME=OPT_INSERT_FILE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="insert file"></li>

	<li><input type="checkbox" value="1" name="opt_toggle_wysiwyg" id="opt_toggle_wysiwyg" <TMPL_IF NAME=OPT_TOGGLE_WYSIWYG>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="toggle wysiwyg"></li>

	<li><input type="checkbox" value="1" name="opt_toggle_html" id="opt_toggle_html" <TMPL_IF NAME=OPT_TOGGLE_HTML>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="toggle html"></li>
</ul>
</mtapp:setting>

<mtapp:setting
	id="toolbar_mode"
	label="<__trans phrase="Toolbar mode">">
<ul>
	<li><input type="checkbox" value="1" name="opt_default_toolbar_inline" id="opt_default_toolbar_inline" <TMPL_IF NAME=OPT_DEFAULT_TOOLBAR_INLINE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="default toolbar inline"></li>
</ul>
</mtapp:setting>